*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: "Montserrat", sans-serif;
}

/* header*/

header{
    background-color: black;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0px 30px 0px 30px;
    position: sticky;
    top: 0px;
    z-index: 1;
}

header img{
    height: 75%;
}

.navbar, .nav1{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar{
    gap: 150px;
}

.nav1{
    gap: 20px  ;
}


.nav1 a{
    color: white;
}

.icono-carrito{
    color: white;
    cursor: pointer;
    padding: 15px 10px;
    border: 1px solid white;
    border-radius: 15px;
    height: 95%;
}

#menu-toggle,
#cart-toggle,
.menu-label{
    display: none;
}

.changuito{
    position: absolute;
    top: 60px;
    right: 0;
    padding: 40px 20px;
    background: white;
    border-left: 2px solid black;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: calc(100vh - 60px);
    overflow-y: scroll;
    display: none;
    z-index: 2;
}

#cart-toggle:checked + .changuito{
    display: flex;
}

.changuito::-webkit-scrollbar{
    display: none;
}

.changuito h2{
    font-size:x-large;
    font-weight: 400;
}

.item-chango img{
    height: 130px;
    border-radius: 15px;
}

.item-chango{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
}

.item-info{
    display: flex;
    flex-direction: column;
}

.item-info h3{
    font-size: 20px;
    font-weight: 500;
}

.item-handler{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.contador-chango{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid black;
    cursor: pointer;
}

.contador-chango:hover{
    background-color: black;
    color: white;
    transition: .5s;
}

.divisor{
    margin-top: 15px;
    border: 1px solid black;
}

.total-compra{
    display: flex;
    justify-content: space-between;
}

.compra{
    color: white;
border-radius: 20px;
height: 50px;
font-weight: 400;
font-size: 25px;
background-color: black;
cursor: pointer;
}

.compra:hover{
    background-color: white;
    color: black;
    transition: .5s;
}


/*fin header*/


main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*portada*/

.seccion-portada{
    flex-wrap: wrap;
    width: 100%;
    display: flex;
    margin-top: 20px;
    align-content: center;
    justify-content: center;
    gap: 50px;
    flex-direction: row;
    padding: 30px 0;
}

.portada img{
    height: 400px;
    width: 600px;
    border-radius: 5px;
}

.logo {
display: flex;
align-items: center;
}
 

/* fin portada*/

/* comienzo beneficios*/

.seccion-beneficios{
    gap: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
}

.seccion-beneficios h2{
    font-size: 40px;
    font-weight: 300;
}

.icono-beneficios{
    height: 100px;
    width: 100px;
}

.contenedor-beneficios{
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
}

.beneficios{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    width: 200px;
    text-align: center;
    align-items: center;
} 

.beneficios p{
    font-size: small;
    font-weight: 700;
    margin-top: 10px;
}

/*fin beneficios*/

/*inicio mates*/

.seccion-mates{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    gap: 20px;
    flex-direction: column;
    width: 100%;
}

.seccion-mates h3{
    width: 100%;
    justify-content: start;
    font-size: xx-large;
}

.contenedor-mates{
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    gap: 75px;
    justify-content: center;
}

.mates{
    display: flex;
    flex-direction: column;
    height: 350px;
    width: 240px;
    background-color: black;
    align-items: center;
    border-radius: 10px;
}

.info-mates{
    width: 190px;
}

.info-mates p{
    display: flex;
    align-items: center;
    margin-top: 10px;
    justify-content: center;
    color: white;
}

.mates img{
    height: 240px;
    width: 240px;
    border-radius: 10px;
}

.precio{
    margin-top: 10px;
    display: flex;
    gap: 50px;
}

.precio p{
    font-size: 20px;
}

.precio a{
    color: black;
}

.boton{
    display: flex;
    border-radius: 15px;
    background-color: white;
    width: 90px;
    height: 30px;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 16px;
    margin-top: 7px;
}

.mates:hover{ 
    animation: scale-up-center 1s ease 0s 1 normal forwards;
    
  }
  @keyframes scale-up-center {
    0%{
      transform: scale(1);
    }
    100%{
      transform: scale(1.1);
    }
  }
  

/*fin mates*/

/*comienzo bombillas*/

.seccion-bombillas{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    gap: 20px;
    flex-direction: column;
    width: 100%;
}

.seccion-bombillas h3{
    width: 100%;
    justify-content: start;
    font-size: xx-large;
}

.contenedor-bombillas{
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    gap: 75px;
    justify-content: center;
}

.bombillas{
    display: flex;
    flex-direction: column;
    height: 325px;
    width: 240px;
    background-color: black;
    align-items: center;
    border-radius: 10px;
}

.info-bombillas{
    width: 190px;
}

.info-bombillas p{
    display: flex;
    align-items: center;
    margin-top: 10px;
    justify-content: center;
    color: white;
}

.bombillas img{
    height: 240px;
    width: 240px;
    border-radius: 10px;
}

.bombillas:hover{ 
    animation: scale-up-center 1s ease 0s 1 normal forwards;
    
  }
  @keyframes scale-up-center {
    0%{
      transform: scale(1);
    }
    100%{
      transform: scale(1.1);
    }
  }
  
/*fin bombillas*/

/* inicio termos*/

.seccion-termos{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    gap: 20px;
    flex-direction: column;
    width: 100%;
}

.seccion-termos h3{
    width: 100%;
    justify-content: start;
    font-size: xx-large;
}

.contenedor-termos{
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    gap: 75px;
    justify-content: center;
}

.termos{
    display: flex;
    flex-direction: column;
    height: 350px;
    width: 240px;
    background-color: black;
    align-items: center;
    border-radius: 10px;
}
.subl1{
    height: 350px;
}

.info-termos{
    width: 190px;
}

.info-termos p{
    display: flex;
    align-items: center;
    margin-top: 10px;
    justify-content: center;
    color: white;
}

.termos img{
    height: 240px;
    width: 240px;
    border-radius: 10px;
}

.termos:hover{ 
    animation: scale-up-center 1s ease 0s 1 normal forwards;
    
  }
  @keyframes scale-up-center {
    0%{
      transform: scale(1);
    }
    100%{
      transform: scale(1.1);
    }
  }

/*fin termos*/

/*inicio combos*/

.seccion-combos{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    gap: 20px;
    flex-direction: column;
    width: 100%;
}

.seccion-combos h3{
    width: 100%;
    justify-content: start;
    font-size: xx-large;
}

.contenedor-combos{
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    gap: 75px;
    justify-content: center;
}

.combos{
    display: flex;
    flex-direction: column;
    height: 350px;
    width: 240px;
    background-color: black;
    align-items: center;
    border-radius: 10px;
}

.info-combos{
    width: 190px;
}

.info-combos p{
    display: flex;
    align-items: center;
    margin-top: 10px;
    justify-content: center;
    color: white;
}

.combos img{
    height: 240px;
    width: 240px;
    border-radius: 10px;
}

.combos:hover{ 
    animation: scale-up-center 1s ease 0s 1 normal forwards;
    
  }
  @keyframes scale-up-center {
    0%{
      transform: scale(1);
    }
    100%{
      transform: scale(1.1);
    }
  }

/*fin combos*/

/*inicio footer*/

.footer{
    display: flex;
    height: 120px;
    background-color: black;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contenedor-footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.footer h5{
    color: white;
    font-weight: 500;
    font-size: large;
}

.sociales{
    padding: 10px;
    height: 100px;
    width: 180px;
}

.sociales img{
    width: 45px;
    margin-top: 5px;
}

.sociales img:hover{
    cursor: pointer;
}

.contactenos{
    padding: 10px;
    height: 100%;
    width: 370px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.icono-contacto{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.icono-contacto img{
    width: 25px;
    height: 25px;
}

.icono-contacto p{
    color: white;
}